/* Custom properties */

:root{
    --primary-color: #1F1F1F;
    --primary-color-md: #363636;
    --primary-color-light: #BEBCBB;
    --secondary-color: #2D64E6;
    --secondary-color-dark: #00439C;
    --tertiary-color: #161C3B;
    --button-red: #CD3D0F;
}

/* Generics */

h1{
    font-size: 2.3rem;
}

/* Utilities */

.bg-black{
    background-color: #000;
}

.bg-primary-color{
    background-color: var(--primary-color);
}

.bg-primary-color-light{
    background-color: var(--primary-color-light);
}

.bg-secondary-color-dark{
    background-color: var(--secondary-color-dark);
}

.bg-tertiary-color{
    background-color: var(--tertiary-color);
}

.text-secondary-color{
    color: var(--secondary-color);
}

.my_btn{
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    padding: 0.325rem 0.75rem 0.5rem;
    display: inline-block;
}

.my_btn:hover{
    color: #fff;
}

.my_btn.my_btn-dark{
    background-color: var(--primary-color-md);
}

.my_btn.my_btn-red{
    background-color: var(--button-red);
}

.gallery-jumbotron{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opacity-70{
    opacity: 0.70;
}

/* Header */

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#upper-header img{
    width: 80px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: var(--primary-color);
    font-weight: 600;
    padding-right: 0.825rem;
    padding-left: 0.825rem;
}

.dropdown-toggle::after{
    content: '\f107';
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-size: 0.75rem;
    border: 0;
    opacity: 0.5;
    vertical-align: 0;
    margin-left: 0.5rem;
}

/* Gallery section */


#main-gallery .gallery-jumbotron{
    height: 500px;
    background-image: url('../img/jumbo-bg.png');
}

#main-gallery .gallery-slider img{
    padding: 0.15rem;
    border-radius: 10px;
}

#main-gallery .active{
    border: 2px solid var(--secondary-color);
}

/* PlayStation 5 section */

#ps5-slider .card-ps5{
    position: relative;
    height: 100%;
}

#ps5-slider .card-ps5 img{
    margin-bottom: 0.5rem;
}

#ps5-slider .card-ps5:hover, #ps5-slider .card-ps5.active{
    opacity: 1;
}

#ps5-slider .card-ps5:hover::after, #ps5-slider .card-ps5.active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

/* It takes two section */

#it-takes-two.gallery-jumbotron{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

/* Social media section */

#social-media img{
    width: 100%;
}

/* Footer */

#ps-footer-logo{
    width: 100px;
}

#sie-footer-logo{
    width: 130px;
}

footer a, footer a.nav-link{
    color: #fff;
}